.home-page {
    background-image: url("/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-text {
    text-align: center;
    font-family: 'regular', serif;
    color: white;
}

.banner-text-title {
    padding-block: 5em;
    font-size: 2.5em;
    padding-left: 30%;
    font-weight: bold;
    animation: color-change 5s infinite; /*TODO a supprimer*/
    text-shadow: 0 0 2px  #090909;/*TODO a supprimer*/
    margin-bottom: 0;
}

@keyframes color-change {/*TODO a supprimer*/
    0% { color: white; }
    50% { color: antiquewhite; }
    100% { color: white; }
}

.banner-text-subTitle {
}

.feature {
        background: #fff;
        border-radius: 8px;
        text-align: center;
        white-space: pre;
        margin: 0.5em;
}

/*.head_right {
    margin-top: 20%;
}*/

