.navbar {
    transform: translateY(50%);
    padding: 0 !important;
}

@media (max-width: 720px) {
    .navbar {
        transform: none;
    }

    .navbar > .container {
        max-width: 100%
    }
}

.navbar > .container {
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 10px;
}

.nav-link {
    text-align: center;
}

.navbar-brand {
    font-family: 'regular', serif;
}

.navbar-container {
    background-color: white;
}