.navbar {
    transform: translateY(50%);
    padding: 0 !important;
}

@media (max-width: 720px) {
    .navbar {
        transform: none;
    }

    .navbar > .container {
        max-width: 100%
    }
}

.navbar > .container {
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 10px;
}

.nav-link {
    text-align: center;
}

.navbar-brand {
    font-family: 'regular', serif;
}

.navbar-container {
    background-color: white;
}

.language-Select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    display: block;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.language-option {
    width: 1.2em;
    height: 1em;
}

.language-dropdown > .dropdown-menu {
    min-width: 5em;
}