@font-face {
    font-family: 'regular';
    src: url('./assets/font.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'suphand';
    src: url('./assets/Suphand.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'happy';
    src: url('./assets/happy.otf');
    font-weight: normal;
    font-style: normal;
}
/*Todo A nettoyer*/

html {
    font-family: 'regular', sans-serif;
}